CompileFlags:
  Add:
    - -std=gnu11
    - -Wall
    - -Wextra
    - -Wno-unused-parameter
    - -Wno-unused-function
    - -Wno-unused-variable
    - -Wno-missing-field-initializers
    - -D_GNU_SOURCE

  Remove:
    - -Werror

Diagnostics:
  Suppress:
    - unused-includes
    - unused-parameter
    - unused-function
    - unused-variable

  UnusedIncludes: None

Index:
  Background: Build

Completion:
  AllScopes: true
